/*CSS that applies to every page to keep uniform style*/

/* fonts */

@font-face {
    font-family: "rowVaticano";
    src: url("fonts/row-vaticano/RowVatikanoBlack-6R42o.ttf");
}

/*--- Page ---*/

body{
    width: 80vw;
    margin: auto;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

/*--- header ---*/
#header {
    align-items: center;
    display: grid;
    grid-template-columns: max-content auto;
    
}
#header-horiz{
    display: grid;
    grid-template-rows: auto max-content;
    /* background-color: aqua; */
    height: 100px;
}
#header #logo {
    height: 100px;
    padding-right: 10px;
}
#header-text {
    text-align: left;
    margin: 0px;
    padding: 0px;
    padding-bottom: 5px;
    font-size: 50px;
    font-family: "rowVaticano";
}

/* top bar */
#topbar {
    display: grid;
    background-color: rgb(239, 239, 239);
    border-radius: 10px;
    
}

#topbar a {
    color: black;
    text-decoration: none;
    /* transition: transform 0.1s; */
}
/* #topbar a:hover{
    cursor: pointer;
    transform: scale(1.05);
} */

#topbar div {
    padding: 6px;
    /* padding-top: 8px; */
    border-radius: 10px;
    text-align: center;
    /* font-size: 10px; */
    /* font-family: "rowVaticano"; */
    /* font-family: sans-serif; */
    
}

#topbar div:hover {
    background-color: rgb(211, 211, 211);
    font-weight: bold;
}